<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tarneeb.Properties.Settings.TarneebLogConnectionStringRelative"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TarneebLog.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Tarneeb.Properties.Settings.TarneebLogConnectionStringAbsolute"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Typic\Documents\Work\Y2S2\OOP-4200\Tarneeb\TarneebLog.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>